<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="MRobot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import MRobot urdf file -->
    <xacro:include filename="$(find mrobot_description)/urdf/MRobot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="MRobot.ros2_control.xacro" />


    <xacro:MRobot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
